@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ruda", sans-serif;
  font-family: "Open Sans", sans-serif;
  background: #060A16;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 3vh 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background: rgba(6, 10, 22, 0.8);
  /* Цвет #060A16 с прозрачностью */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
header .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .logo img {
  width: 45px;
}
header .logo p {
  font-family: Ruda;
  color: white;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
}
header nav {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
}
header nav .main_a {
  display: flex;
  gap: 40px;
  align-items: center;
}
header nav a {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  transition: 0.2s;
}
header nav a:hover {
  opacity: 0.5;
}
header nav .burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
header nav .burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgba(6, 10, 22, 0.9);
  color: white;
  padding: 40px 30px;
  z-index: 1000;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  padding-top: 20vh;
  align-items: start;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
.mobile-menu a {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity 0.3s ease;
}
.mobile-menu a:hover {
  opacity: 0.7;
}
.mobile-menu.active {
  display: flex;
  transform: translateX(0);
}

body.menu-open {
  overflow: hidden;
}

.wrap {
  padding: 0% 5%;
}
.wrap .sec_one {
  padding-top: 15vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30vh;
}
.wrap .sec_one .left {
  padding-top: 10vh;
  align-items: start;
}
.wrap .sec_one .left h1 {
  font-family: Ruda;
  color: white;
  font-weight: 600;
  font-size: 84px;
  line-height: 82px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.wrap .sec_one .left h1 span {
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  font-size: 84px;
  line-height: 82px;
  letter-spacing: 0%;
  background: linear-gradient(101.9deg, rgb(201, 34, 227) 7.67%, rgb(153, 30, 234) 52.66%, rgb(73, 23, 246) 93.7%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 3s infinite linear;
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrap .sec_one .left p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
  padding-left: 7px;
  margin-bottom: 3vh;
}
.wrap .sec_one .left .watch {
  padding-left: 7px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 3vh;
}
.wrap .sec_one .left .watch .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.wrap .sec_one .left .watch .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(201, 34, 227);
  /* Начальный цвет */
  animation: borderFlow 3s infinite linear;
}
@keyframes borderFlow {
  0% {
    border-color: rgb(201, 34, 227);
  }
  33% {
    border-color: rgb(153, 30, 234);
  }
  66% {
    border-color: rgb(73, 23, 246);
  }
  100% {
    border-color: rgb(201, 34, 227);
  }
  /* Завершаем тем же цветом */
}
.wrap .sec_one .left .watch .image-wrapper img {
  width: 20px;
  height: 20px;
}
.wrap .sec_one .left .watch button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 18px 35px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrap .sec_one .left .watch p {
  padding-top: 30px;
  font-size: 18px;
}
.wrap .sec_one .left .count {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  color: white;
  background: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 4% 6%;
}
.wrap .sec_one .left .count .item {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .sec_one .left .count .item h2 {
  font-family: Ruda;
  background: none;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrap .sec_one .left .count .item span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  background: none;
  color: rgb(215, 215, 215);
}
.wrap .sec_one .right {
  position: relative;
  width: 50%;
}
.wrap .sec_one .right img {
  position: absolute;
}
.wrap .sec_one .right .one {
  top: 35%;
  right: 15%;
  z-index: 1;
}
.wrap .sec_one .right .two {
  top: 5%;
  left: 15%;
}
.wrap .sec_one .right .three {
  top: 10%;
  right: 35%;
}
.wrap .sec_one .right .four {
  top: 10%;
  right: -5%;
  z-index: 2;
}
.wrap .sec_one .right .five {
  bottom: 0;
  right: -11%;
}
.wrap .sec_two {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-bottom: 20vh;
}
.wrap .sec_two .ee {
  display: flex;
  gap: 10%;
  white-space: nowrap;
  align-items: center;
}
.wrap .sec_two .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.wrap .sec_two .top h3 {
  font-family: Ruda;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.wrap .sec_two .top span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_two .top button {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  color: white;
  background: none;
  padding: 15px 30px;
  border: 2px solid rgb(201, 34, 227);
  /* Начальный цвет */
  animation: borderFlow 3s infinite linear;
}
.wrap .sec_two .down {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
}
.wrap .sec_two .down .one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
  border-radius: 5px;
}
.wrap .sec_two .down .one .plastine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 17vh;
  background: rgb(35, 35, 35);
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
}
.wrap .sec_two .down .one .plastine img {
  animation: plastine 4s infinite linear;
}
@keyframes plastine {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.wrap .sec_two .down .two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .sec_two .down .two .main {
  width: 130%;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.wrap .sec_two .down .two span {
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_three {
  text-align: center;
  margin-bottom: 20vh;
}
.wrap .sec_three h1 {
  font-family: Ruda;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10vh;
}
.wrap .sec_three .parent {
  display: flex;
  color: white;
  background: rgb(33, 21, 56);
  border-radius: 5px;
  justify-content: space-around;
}
.wrap .sec_three .parent .item {
  padding: 7vh 0;
  width: 25%;
  border-radius: 5px;
  transition: 0.8s;
}
.wrap .sec_three .parent .item img {
  margin-bottom: 2vh;
}
.wrap .sec_three .parent .item h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2vh;
}
.wrap .sec_three .parent .item span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(215, 215, 215);
}
.wrap .sec_three .parent .item:hover {
  transform: translateY(-50px);
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}
.wrap .sec_four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}
.wrap .sec_four h2 {
  font-family: Ruda;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10vh;
}
.wrap .sec_four .parent {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10vh;
}
.wrap .sec_four .parent .item {
  border: 1px solid;
  padding: 50px;
  padding-right: 70px;
  border-radius: 10px;
  animation: borderFlow 3s infinite linear;
}
.wrap .sec_four .parent .item .img {
  display: flex;
  gap: 5%;
  margin-bottom: 3vh;
}
.wrap .sec_four .parent .item .img .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .sec_four .parent .item .item_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .sec_four .parent .item .item_item div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.wrap .sec_four .parent .item .item_item div h3 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.wrap .sec_four .parent .item .item_item div span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_four .parent .item .item_item .arrow {
  width: 30px;
}
.wrap .sec_four button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 18px 35px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
}
.wrap .sec_five {
  margin-bottom: 20vh;
}
.wrap .sec_five h2 {
  text-align: center;
  font-family: Ruda;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10vh;
}
.wrap .sec_five .parent {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  position: relative;
}
.wrap .sec_five .parent .left_arr {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: -10%;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(217, 217, 217, 0.08);
  transition: 0.2s;
}
.wrap .sec_five .parent .left_arr img {
  transform: rotate(180deg);
  width: 25px;
}
.wrap .sec_five .parent .right_arr {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  right: -10%;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(217, 217, 217, 0.08);
  transition: 0.2s;
}
.wrap .sec_five .parent .right_arr img {
  width: 25px;
}
.wrap .sec_five .parent .item {
  width: 30%;
  padding: 2%;
  display: flex;
  color: white;
  align-items: center;
  gap: 10%;
  border-radius: 10px;
  margin-bottom: 5vh;
  background: rgba(217, 217, 217, 0.08);
  transition: 0.3s;
}
.wrap .sec_five .parent .item .left {
  width: 100px;
}
.wrap .sec_five .parent .item .right h3 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-bottom: 1vh;
}
.wrap .sec_five .parent .item .right span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_five .parent .item:hover {
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}
.wrap .sec_five .parent .left_arr:hover {
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}
.wrap .sec_five .parent .left_arr:active {
  scale: 0.9;
}
.wrap .sec_five .parent .right_arr:active {
  scale: 0.9;
}
.wrap .sec_five .parent .right_arr:hover {
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}
.wrap .sec_six {
  margin-bottom: 20vh;
}
.wrap .sec_six h2 {
  text-align: center;
  font-family: Ruda;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10vh;
}
.wrap .sec_six .parent {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10vh;
}
.wrap .sec_six .parent .item {
  border: 1px solid;
  padding: 50px;
  border-radius: 10px;
  animation: borderFlow 3s infinite linear;
  width: -moz-fit-content;
  width: fit-content;
}
.wrap .sec_six .parent .item .img {
  margin-bottom: 2vh;
}
.wrap .sec_six .parent .item .admin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}
.wrap .sec_six .parent .item .admin .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrap .sec_six .parent .item .admin .left .img_box {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  border-radius: 50%;
  border: 1px solid #000;
  animation: borderFlow 3s infinite linear;
}
.wrap .sec_six .parent .item .admin .left .img_box img {
  width: 20px;
}
.wrap .sec_six .parent .item .admin .left span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  background: linear-gradient(101.9deg, rgb(201, 34, 227) 7.67%, rgb(153, 30, 234) 52.66%, rgb(73, 23, 246) 93.7%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 3s infinite linear;
}
.wrap .sec_six .parent .item .admin .right span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: rgb(215, 215, 215);
}
.wrap .sec_six .parent .item .info {
  margin-bottom: 5vh;
}
.wrap .sec_six .parent .item .info h3 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-bottom: 2vh;
}
.wrap .sec_six .parent .item .info span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_six .parent .item .nav {
  display: flex;
  justify-content: space-between;
}
.wrap .sec_six .parent .item .nav button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 13px 20px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
}
.wrap .sec_six .parent .item .nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.wrap .sec_six .parent .item .nav .links .img_box {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #000;
  animation: borderFlow 3s infinite linear;
}
.wrap .sec_six .parent .item .nav .links .img_box img {
  width: 26px;
}
.wrap .sec_six .parent .item .nav .links .img_box_sec {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2px;
  border-radius: 50%;
  border: 1px solid #000;
  animation: borderFlow 3s infinite linear;
}
.wrap .sec_six .parent .item .nav .links .img_box_sec img {
  width: 26px;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
footer ul a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
footer .item {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
footer .item h2 {
  font-family: DM Sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}
footer .item span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
footer .item .links {
  display: flex;
  gap: 10%;
}
footer .item .links .img_box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
}
footer .item .links .img_box img {
  width: 30px;
  height: 30px;
}
footer .item .email_inpt {
  width: 100%;
  position: relative;
}
footer .item .email_inpt input {
  width: 80%;
  padding: 15px 20px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  background: none;
  outline: none;
  border: 0.6px solid rgb(215, 215, 215);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  color: rgb(215, 215, 215);
  border-right: none;
}
footer .item .email_inpt button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background: none;
  border: 0.6px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: borderFlow 3s infinite linear;
}
footer .item .email_inpt button img {
  width: 25px;
}

@media (max-width: 1440px) {
  header nav a {
    font-size: 20px;
  }
  .wrap .sec_one {
    margin-bottom: 20vh;
  }
  .wrap .sec_one .left h1 {
    font-size: 70px;
    line-height: 75px;
  }
  .wrap .sec_one .left h1 span {
    line-height: 75px;
    font-size: 70px;
  }
  .wrap .sec_one .left p {
    font-size: 16px;
  }
  .wrap .sec_one .left .watch button {
    font-size: 18px;
    padding: 20px 32px;
  }
  .wrap .sec_one .left .watch .image-wrapper {
    width: 60px;
    height: 60px;
  }
  .wrap .sec_one .left .watch .image-wrapper img {
    width: 22px;
    height: 22px;
  }
  .wrap .sec_one .left .watch p {
    font-size: 18px;
  }
  .wrap .sec_one .left .count .item h2 {
    font-size: 30px;
  }
  .wrap .sec_one .left .count .item span {
    font-size: 18px;
  }
  .wrap .sec_one .right .one {
    width: 70%;
    top: 33%;
    right: 17%;
  }
  .wrap .sec_one .right .two {
    width: 20%;
    top: 4%;
    left: 2%;
  }
  .wrap .sec_one .right .three {
    width: 15%;
    right: 45%;
  }
  .wrap .sec_one .right .four {
    width: 35%;
    top: 8%;
  }
  .wrap .sec_one .right .five {
    width: 18%;
    bottom: 8%;
  }
  .wrap .sec_two .top {
    gap: 5%;
  }
  .wrap .sec_two .top h3 {
    font-size: 34px;
    white-space: nowrap;
  }
  .wrap .sec_two .top span {
    font-size: 18px;
    white-space: nowrap;
  }
  .wrap .sec_two .top button {
    font-size: 18px;
    white-space: nowrap;
    padding: 14px 28px;
  }
  .wrap .sec_two .down {
    width: 100%;
    gap: 4%;
  }
  .wrap .sec_two .down .one {
    width: 60%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .sec_two .down .one img {
    width: 80%;
  }
  .wrap .sec_two .down .one .plastine {
    height: -moz-fit-content;
    height: fit-content;
    padding: 14px 0;
    width: 35%;
  }
  .wrap .sec_two .down .one .plastine img {
    width: 85%;
  }
  .wrap .sec_two .down .two .main {
    width: 90%;
  }
  .wrap .sec_two .down .two span {
    font-size: 18px;
  }
  .wrap .sec_two .down .two span img {
    width: 18%;
  }
  .wrap .sec_three h1 {
    font-size: 40px;
  }
  .wrap .sec_three .parent .item {
    width: 30%;
    padding: 6vh 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .sec_three .parent .item img {
    width: 45%;
  }
  .wrap .sec_three .parent .item h2 {
    font-size: 20px;
    white-space: nowrap;
  }
  .wrap .sec_three .parent .item span {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .wrap .sec_four h2 {
    font-size: 40px;
  }
  .wrap .sec_four .parent {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 7vh;
  }
  .wrap .sec_four .parent .item {
    width: 48%;
    margin-bottom: 5vh;
    padding: 30px;
    padding-right: 0;
  }
  .wrap .sec_four .parent .item .img img {
    width: 75%;
  }
  .wrap .sec_four .parent .item .img .left img {
    width: 95%;
  }
  .wrap .sec_four .parent .item .item_item {
    justify-content: space-between;
    padding-right: 35px;
  }
  .wrap .sec_four .parent .item .item_item div h3 {
    font-size: 20px;
  }
  .wrap .sec_four .parent .item .item_item div span {
    font-size: 16px;
  }
  .wrap .sec_four .parent .item .item_item .arrow {
    width: 35px;
  }
  .wrap .sec_four button {
    font-size: 20px;
    white-space: nowrap;
    padding: 20px 45px;
  }
  .wrap .sec_five h2 {
    font-size: 40px;
  }
  .wrap .sec_five .parent {
    gap: 5%;
  }
  .wrap .sec_five .parent .right_arr,
  .wrap .sec_five .parent .left_arr {
    padding: 20px;
  }
  .wrap .sec_five .parent .right_arr img,
  .wrap .sec_five .parent .left_arr img {
    width: 20px;
  }
  .wrap .sec_five .parent .item {
    width: 45%;
  }
  .wrap .sec_five .parent .item .left {
    width: 80px;
  }
  .wrap .sec_five .parent .item .right h3 {
    font-size: 20px;
  }
  .wrap .sec_six h2 {
    font-size: 40px;
  }
  .wrap .sec_six .parent {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap .sec_six .parent .item {
    width: 48%;
    padding: 30px;
    margin-bottom: 6vh;
  }
  .wrap .sec_six .parent .item .img {
    width: -moz-fit-content;
    width: fit-content;
  }
  .wrap .sec_six .parent .item .img img {
    width: 100%;
  }
  .wrap .sec_six .parent .item .admin .left .img_box {
    width: 32px;
    height: 32px;
  }
  .wrap .sec_six .parent .item .admin .left .img_box img {
    width: 24px;
  }
  .wrap .sec_six .parent .item .admin .left span {
    font-size: 18px;
  }
  .wrap .sec_six .parent .item .admin .right span {
    font-size: 18px;
  }
  .wrap .sec_six .parent .item .info h3 {
    font-size: 22px;
  }
  .wrap .sec_six .parent .item .info span {
    font-size: 16px;
  }
  .wrap .sec_six .parent .item .nav button {
    font-size: 16px;
    padding: 10px 24px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box,
  .wrap .sec_six .parent .item .nav .links .img_box_sec {
    width: 50px;
    height: 50px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box img,
  .wrap .sec_six .parent .item .nav .links .img_box_sec img {
    width: 32px;
  }
  footer ul a {
    font-size: 18px;
  }
  footer .item h2 {
    font-size: 22px;
  }
  footer .item span {
    display: none;
    font-size: 16px;
    width: 100%;
  }
  footer .item .links {
    gap: 20px;
  }
  footer .item .links .img_box {
    width: 50px;
    height: 50px;
  }
  footer .item .links .img_box img {
    width: 32px;
  }
  footer .item .email_inpt input {
    padding: 10px 20px;
    font-size: 18px;
  }
  footer .item .email_inpt button img {
    width: 24px;
  }
}
@media (max-width: 1200px) {
  header nav a {
    font-size: 18px;
  }
  .wrap .sec_one {
    margin-bottom: 18vh;
  }
  .wrap .sec_one .left h1 {
    font-size: 60px;
    line-height: 65px;
  }
  .wrap .sec_one .left h1 span {
    line-height: 65px;
    font-size: 60px;
  }
  .wrap .sec_one .left p {
    font-size: 14px;
  }
  .wrap .sec_one .left .watch button {
    font-size: 16px;
    padding: 18px 28px;
  }
  .wrap .sec_one .left .watch .image-wrapper {
    width: 50px;
    height: 50px;
  }
  .wrap .sec_one .left .watch .image-wrapper img {
    width: 18px;
    height: 18px;
  }
  .wrap .sec_one .left .watch p {
    font-size: 16px;
  }
  .wrap .sec_one .left .count .item h2 {
    font-size: 26px;
  }
  .wrap .sec_one .left .count .item span {
    font-size: 16px;
  }
  .wrap .sec_one .right .one {
    width: 75%;
    top: 28%;
    right: 15%;
  }
  .wrap .sec_one .right .two {
    width: 20%;
    top: 5%;
    left: 0%;
  }
  .wrap .sec_one .right .three {
    width: 12%;
    right: 50%;
  }
  .wrap .sec_one .right .four {
    width: 32%;
    top: 10%;
  }
  .wrap .sec_one .right .five {
    width: 15%;
    bottom: 5%;
  }
  .wrap .sec_two .top {
    gap: 5%;
  }
  .wrap .sec_two .top h3 {
    font-size: 30px;
    white-space: nowrap;
  }
  .wrap .sec_two .top span {
    font-size: 16px;
    white-space: nowrap;
  }
  .wrap .sec_two .top button {
    font-size: 16px;
    white-space: nowrap;
    padding: 12px 24px;
  }
  .wrap .sec_two .down {
    width: 100%;
    gap: 3%;
  }
  .wrap .sec_two .down .one {
    width: 60%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .sec_two .down .one img {
    width: 70%;
  }
  .wrap .sec_two .down .one .plastine {
    height: -moz-fit-content;
    height: fit-content;
    padding: 12px 0;
    width: 30%;
  }
  .wrap .sec_two .down .one .plastine img {
    width: 80%;
  }
  .wrap .sec_two .down .two .main {
    width: 85%;
  }
  .wrap .sec_two .down .two span {
    font-size: 16px;
  }
  .wrap .sec_two .down .two span img {
    width: 15%;
  }
  .wrap .sec_three h1 {
    font-size: 35px;
  }
  .wrap .sec_three .parent .item {
    width: 28%;
    padding: 5vh 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .sec_three .parent .item img {
    width: 40%;
  }
  .wrap .sec_three .parent .item h2 {
    font-size: 18px;
    white-space: nowrap;
  }
  .wrap .sec_three .parent .item span {
    font-size: 12px;
    line-height: 0;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .wrap .sec_four h2 {
    font-size: 35px;
  }
  .wrap .sec_four .parent {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6vh;
  }
  .wrap .sec_four .parent .item {
    width: 48%;
    margin-bottom: 4vh;
    padding: 25px;
    padding-right: 0;
  }
  .wrap .sec_four .parent .item .img img {
    width: 70%;
  }
  .wrap .sec_four .parent .item .img .left img {
    width: 90%;
  }
  .wrap .sec_four .parent .item .item_item {
    justify-content: space-between;
    padding-right: 30px;
  }
  .wrap .sec_four .parent .item .item_item div h3 {
    font-size: 18px;
  }
  .wrap .sec_four .parent .item .item_item div span {
    font-size: 14px;
  }
  .wrap .sec_four .parent .item .item_item .arrow {
    width: 30px;
  }
  .wrap .sec_four button {
    font-size: 18px;
    white-space: nowrap;
    padding: 18px 40px;
  }
  .wrap .sec_five h2 {
    font-size: 35px;
  }
  .wrap .sec_five .parent {
    gap: 5%;
  }
  .wrap .sec_five .parent .right_arr,
  .wrap .sec_five .parent .left_arr {
    padding: 18px;
  }
  .wrap .sec_five .parent .right_arr img,
  .wrap .sec_five .parent .left_arr img {
    width: 18px;
  }
  .wrap .sec_five .parent .item {
    width: 45%;
  }
  .wrap .sec_five .parent .item .left {
    width: 70px;
  }
  .wrap .sec_five .parent .item .right h3 {
    font-size: 18px;
  }
  .wrap .sec_six h2 {
    font-size: 35px;
  }
  .wrap .sec_six .parent {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap .sec_six .parent .item {
    width: 48%;
    padding: 25px;
    margin-bottom: 5vh;
  }
  .wrap .sec_six .parent .item .img {
    width: -moz-fit-content;
    width: fit-content;
  }
  .wrap .sec_six .parent .item .img img {
    width: 100%;
  }
  .wrap .sec_six .parent .item .admin .left .img_box {
    width: 28px;
    height: 28px;
  }
  .wrap .sec_six .parent .item .admin .left .img_box img {
    width: 20px;
  }
  .wrap .sec_six .parent .item .admin .left span {
    font-size: 16px;
  }
  .wrap .sec_six .parent .item .admin .right span {
    font-size: 16px;
  }
  .wrap .sec_six .parent .item .info h3 {
    font-size: 20px;
  }
  .wrap .sec_six .parent .item .info span {
    font-size: 14px;
  }
  .wrap .sec_six .parent .item .nav button {
    font-size: 14px;
    padding: 8px 20px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box,
  .wrap .sec_six .parent .item .nav .links .img_box_sec {
    width: 45px;
    height: 45px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box img,
  .wrap .sec_six .parent .item .nav .links .img_box_sec img {
    width: 28px;
  }
  footer ul a {
    font-size: 16px;
  }
  footer .item h2 {
    font-size: 20px;
  }
  footer .item span {
    display: none;
    font-size: 14px;
    width: 100%;
  }
  footer .item .links {
    gap: 18px;
  }
  footer .item .links .img_box {
    width: 45px;
    height: 45px;
  }
  footer .item .links .img_box img {
    width: 28px;
  }
  footer .item .email_inpt input {
    padding: 8px 18px;
    font-size: 16px;
  }
  footer .item .email_inpt button img {
    width: 22px;
  }
}
@media (max-width: 1024px) {
  header nav a {
    font-size: 16px;
  }
  .wrap .sec_one {
    margin-bottom: 15vh;
  }
  .wrap .sec_one .left h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .wrap .sec_one .left h1 span {
    line-height: 55px;
    font-size: 50px;
  }
  .wrap .sec_one .left p {
    font-size: 12px;
  }
  .wrap .sec_one .left .watch button {
    font-size: 14px;
    padding: 15px 25px;
  }
  .wrap .sec_one .left .watch .image-wrapper {
    width: 45px;
    height: 45px;
  }
  .wrap .sec_one .left .watch .image-wrapper img {
    width: 15px;
    height: 15px;
  }
  .wrap .sec_one .left .watch p {
    font-size: 14px;
  }
  .wrap .sec_one .left .count .item h2 {
    font-size: 23px;
  }
  .wrap .sec_one .left .count .item span {
    font-size: 14px;
  }
  .wrap .sec_one .right .one {
    width: 80%;
    top: 25%;
    right: 10%;
  }
  .wrap .sec_one .right .two {
    width: 20%;
    top: 5%;
    left: 0%;
  }
  .wrap .sec_one .right .three {
    width: 12%;
    right: 50%;
  }
  .wrap .sec_one .right .four {
    width: 30%;
    top: 10%;
  }
  .wrap .sec_one .right .five {
    width: 15%;
    bottom: 10%;
  }
  .wrap .sec_two .top {
    gap: 5%;
  }
  .wrap .sec_two .top h3 {
    font-size: 25px;
    white-space: nowrap;
  }
  .wrap .sec_two .top span {
    font-size: 14px;
    white-space: nowrap;
  }
  .wrap .sec_two .top button {
    font-size: 14px;
    white-space: nowrap;
    padding: 10px 20px;
  }
  .wrap .sec_two .down {
    width: 100%;
    gap: 2%;
  }
  .wrap .sec_two .down .one {
    width: 55%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .sec_two .down .one img {
    width: 60%;
  }
  .wrap .sec_two .down .one .plastine {
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 0px;
    width: 25%;
  }
  .wrap .sec_two .down .one .plastine img {
    width: 80%;
  }
  .wrap .sec_two .down .two .main {
    width: 80%;
  }
  .wrap .sec_two .down .two span {
    font-size: 14px;
  }
  .wrap .sec_two .down .two span img {
    width: 15%;
  }
  .wrap .sec_three h1 {
    font-size: 30px;
  }
  .wrap .sec_three .parent .item {
    width: 30%;
    padding: 4vh 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrap .sec_three .parent .item img {
    width: 35%;
  }
  .wrap .sec_three .parent .item h2 {
    font-size: 16px;
    white-space: nowrap;
  }
  .wrap .sec_three .parent .item span {
    font-size: 10px;
    line-height: 0px;
    letter-spacing: 0px;
    white-space: nowrap;
  }
  .wrap .sec_four h2 {
    font-size: 30px;
  }
  .wrap .sec_four .parent {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5vh;
  }
  .wrap .sec_four .parent .item {
    width: 48%;
    margin-bottom: 4vh;
    padding: 20px;
    padding-right: 0px;
  }
  .wrap .sec_four .parent .item .img img {
    width: 65%;
  }
  .wrap .sec_four .parent .item .img .left img {
    width: 85%;
  }
  .wrap .sec_four .parent .item .item_item {
    justify-content: space-between;
    padding-right: 25px;
  }
  .wrap .sec_four .parent .item .item_item div h3 {
    font-size: 16px;
  }
  .wrap .sec_four .parent .item .item_item div span {
    font-size: 12px;
  }
  .wrap .sec_four .parent .item .item_item .arrow {
    width: 25px;
  }
  .wrap .sec_four button {
    font-size: 16px;
    white-space: nowrap;
    padding: 15px 35px;
  }
  .wrap .sec_five h2 {
    font-size: 30px;
  }
  .wrap .sec_five .parent {
    gap: 5%;
  }
  .wrap .sec_five .parent .right_arr {
    padding: 15px;
  }
  .wrap .sec_five .parent .right_arr img {
    width: 15px;
  }
  .wrap .sec_five .parent .left_arr {
    padding: 15px;
  }
  .wrap .sec_five .parent .left_arr img {
    width: 15px;
  }
  .wrap .sec_five .parent .item {
    width: 45%;
  }
  .wrap .sec_five .parent .item .left {
    width: 60px;
  }
  .wrap .sec_five .parent .item .right h3 {
    font-size: 16px;
  }
  .wrap .sec_six h2 {
    font-size: 30px;
  }
  .wrap .sec_six .parent {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap .sec_six .parent .item {
    width: 48%;
    padding: 20px;
    margin-bottom: 4vh;
  }
  .wrap .sec_six .parent .item .img {
    width: -moz-fit-content;
    width: fit-content;
  }
  .wrap .sec_six .parent .item .img img {
    width: 100%;
  }
  .wrap .sec_six .parent .item .admin .left .img_box {
    width: 25px;
    height: 25px;
  }
  .wrap .sec_six .parent .item .admin .left .img_box img {
    width: 18px;
  }
  .wrap .sec_six .parent .item .admin .left span {
    font-size: 14px;
  }
  .wrap .sec_six .parent .item .admin .right span {
    font-size: 14px;
  }
  .wrap .sec_six .parent .item .info h3 {
    font-size: 18px;
  }
  .wrap .sec_six .parent .item .info span {
    font-size: 12px;
  }
  .wrap .sec_six .parent .item .nav button {
    font-size: 13px;
    padding: 7px 18px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box {
    width: 40px;
    height: 40px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box img {
    width: 25px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box_sec {
    width: 40px;
    height: 40px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box_sec img {
    width: 25px;
  }
  footer ul a {
    font-size: 14px;
  }
  footer .item h2 {
    font-size: 18px;
  }
  footer .item span {
    display: none;
    font-size: 12px;
    width: 100%;
  }
  footer .item .links {
    gap: 15px;
  }
  footer .item .links .img_box {
    width: 40px;
    height: 40px;
  }
  footer .item .links .img_box img {
    width: 25px;
  }
  footer .item .email_inpt input {
    padding: 7px 15px;
    font-size: 14px;
  }
  footer .item .email_inpt button img {
    width: 20px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 2vh 5%;
  }
  header .logo img {
    width: 35px;
  }
  header nav .main_a {
    font-size: 16px;
    display: none;
  }
  header nav .burger {
    display: flex;
  }
  .wrap .sec_one {
    padding-top: 10vh;
    margin-bottom: 12vh;
  }
  .wrap .sec_one .left {
    padding-top: 5vh;
    width: 100%;
  }
  .wrap .sec_one .left h1 {
    font-size: 60px;
    line-height: 60px;
    align-items: start;
  }
  .wrap .sec_one .left h1 span {
    line-height: 60px;
    font-size: 60px;
  }
  .wrap .sec_one .left p {
    font-size: 12px;
  }
  .wrap .sec_one .left .watch .box {
    gap: 10px;
  }
  .wrap .sec_one .left .watch button {
    font-size: 16px;
    padding: 14px 22px;
  }
  .wrap .sec_one .left .watch .image-wrapper {
    width: 40px;
    height: 40px;
  }
  .wrap .sec_one .left .watch .image-wrapper img {
    width: 14px;
    height: 14px;
  }
  .wrap .sec_one .left .watch p {
    font-size: 14px;
  }
  .wrap .sec_one .left .count {
    border-radius: 5px;
    width: 100%;
    justify-content: space-around;
  }
  .wrap .sec_one .left .count .item h2 {
    font-size: 25px;
  }
  .wrap .sec_one .left .count .item span {
    font-size: 16px;
  }
  .wrap .sec_one .right {
    display: none;
  }
  .wrap .sec_one .right .one {
    width: 85%;
    top: 20%;
    right: 5%;
  }
  .wrap .sec_one .right .two {
    width: 20%;
    top: 0%;
    left: 0%;
  }
  .wrap .sec_one .right .three {
    width: 12%;
    right: 45%;
  }
  .wrap .sec_one .right .four {
    width: 30%;
    top: 8%;
  }
  .wrap .sec_one .right .five {
    width: 15%;
    bottom: 8%;
  }
  .wrap .sec_two .top {
    display: none;
    gap: 3%;
  }
  .wrap .sec_two .top h3 {
    font-size: 24px;
    white-space: nowrap;
  }
  .wrap .sec_two .top span {
    font-size: 14px;
    white-space: nowrap;
  }
  .wrap .sec_two .top button {
    font-size: 14px;
    white-space: nowrap;
    padding: 10px 20px;
  }
  .wrap .sec_two .down {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 20px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
  }
  .wrap .sec_two .down .one {
    min-width: 75%;
    margin-bottom: 2vh;
  }
  .wrap .sec_two .down .one img {
    width: 65%;
  }
  .wrap .sec_two .down .one .plastine {
    width: 28%;
    padding: 7px 0;
  }
  .wrap .sec_two .down .one .plastine img {
    width: 80%;
  }
  .wrap .sec_two .down .two {
    min-width: 50%;
  }
  .wrap .sec_two .down .two .main {
    width: 100%;
  }
  .wrap .sec_two .down .two span {
    font-size: 14px;
  }
  .wrap .sec_two .down .two span img {
    width: 12%;
  }
  .wrap .sec_two .down::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari и т.д. */
  }
  .wrap .sec_three h1 {
    font-size: 25px;
  }
  .wrap .sec_three .parent {
    flex-direction: column;
    background: none;
    align-items: center;
    gap: 20px;
  }
  .wrap .sec_three .parent .item {
    width: 80%;
    padding: 4vh 0;
  }
  .wrap .sec_three .parent .item img {
    width: 30%;
  }
  .wrap .sec_three .parent .item h2 {
    font-size: 16px;
    white-space: nowrap;
  }
  .wrap .sec_three .parent .item span {
    font-size: 12px;
    white-space: nowrap;
  }
  .wrap .sec_four h2 {
    font-size: 28px;
  }
  .wrap .sec_four .parent {
    flex-wrap: wrap;
    margin-bottom: 4vh;
  }
  .wrap .sec_four .parent .item {
    width: 100%;
    margin-bottom: 3vh;
    padding: 20px;
    padding-right: 0;
  }
  .wrap .sec_four .parent .item .img img {
    width: 60%;
  }
  .wrap .sec_four .parent .item .img .left img {
    width: 80%;
  }
  .wrap .sec_four .parent .item .item_item {
    justify-content: space-between;
    padding-right: 20px;
  }
  .wrap .sec_four .parent .item .item_item div h3 {
    font-size: 16px;
  }
  .wrap .sec_four .parent .item .item_item div span {
    font-size: 12px;
  }
  .wrap .sec_four .parent .item .item_item .arrow {
    width: 25px;
  }
  .wrap .sec_four button {
    font-size: 16px;
    white-space: nowrap;
    padding: 14px 30px;
  }
  .wrap .sec_five h2 {
    font-size: 28px;
  }
  .wrap .sec_five .parent {
    gap: 20px;
    flex-direction: column;
  }
  .wrap .sec_five .parent .right_arr,
  .wrap .sec_five .parent .left_arr {
    display: none;
    padding: 14px;
  }
  .wrap .sec_five .parent .right_arr img,
  .wrap .sec_five .parent .left_arr img {
    width: 16px;
  }
  .wrap .sec_five .parent .item {
    width: 100%;
  }
  .wrap .sec_five .parent .item .left {
    width: 60px;
  }
  .wrap .sec_five .parent .item .right h3 {
    font-size: 16px;
  }
  .wrap .sec_six h2 {
    font-size: 28px;
  }
  .wrap .sec_six .parent {
    flex-wrap: wrap;
  }
  .wrap .sec_six .parent .item {
    width: 100%;
    padding: 20px;
    margin-bottom: 4vh;
  }
  .wrap .sec_six .parent .item .img {
    width: 100%;
  }
  .wrap .sec_six .parent .item .img img {
    width: 100%;
  }
  .wrap .sec_six .parent .item .admin .left .img_box {
    width: 24px;
    height: 24px;
  }
  .wrap .sec_six .parent .item .admin .left .img_box img {
    width: 18px;
  }
  .wrap .sec_six .parent .item .admin .left span {
    font-size: 14px;
  }
  .wrap .sec_six .parent .item .admin .right span {
    font-size: 14px;
  }
  .wrap .sec_six .parent .item .info h3 {
    font-size: 18px;
  }
  .wrap .sec_six .parent .item .info span {
    font-size: 12px;
  }
  .wrap .sec_six .parent .item .nav button {
    font-size: 12px;
    padding: 6px 16px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box,
  .wrap .sec_six .parent .item .nav .links .img_box_sec {
    width: 40px;
    height: 40px;
  }
  .wrap .sec_six .parent .item .nav .links .img_box img,
  .wrap .sec_six .parent .item .nav .links .img_box_sec img {
    width: 24px;
  }
  footer {
    display: flex;
    justify-content: start;
    padding-left: 5%;
    white-space: nowrap;
    gap: 5%;
    flex-wrap: wrap;
  }
  footer ul a {
    font-size: 14px;
  }
  footer .item {
    margin-bottom: 5vh;
    width: 30%;
  }
  footer .item h2 {
    font-size: 18px;
  }
  footer .item span {
    display: none;
    font-size: 12px;
    width: 100%;
  }
  footer .item .links {
    gap: 13px;
  }
  footer .item .links .img_box {
    width: 38px;
    height: 38px;
  }
  footer .item .links .img_box img {
    width: 20px;
  }
  footer .item .email_inpt input {
    padding: 6px 16px;
    font-size: 14px;
  }
  footer .item .email_inpt button img {
    width: 20px;
  }
}
@media (max-width: 480px) {
  header {
    padding: 2vh 4%;
  }
  header .logo img {
    width: 28px;
  }
  header nav .main_a {
    font-size: 14px;
    display: none;
  }
  header nav .burger {
    display: flex;
  }
  .wrap .sec_one {
    padding-top: 8vh;
    margin-bottom: 8vh;
  }
  .wrap .sec_one .left {
    padding-top: 3vh;
    width: 100%;
  }
  .wrap .sec_one .left h1 {
    font-size: 40px;
    line-height: 42px;
  }
  .wrap .sec_one .left h1 span {
    font-size: 40px;
    line-height: 42px;
  }
  .wrap .sec_one .left p {
    font-size: 10px;
  }
  .wrap .sec_one .left .watch .box {
    gap: 8px;
  }
  .wrap .sec_one .left .watch button {
    font-size: 14px;
    padding: 10px 16px;
  }
  .wrap .sec_one .left .watch .image-wrapper {
    width: 35px;
    height: 35px;
  }
  .wrap .sec_one .left .watch .image-wrapper img {
    width: 12px;
    height: 12px;
  }
  .wrap .sec_one .left .watch p {
    font-size: 12px;
  }
  .wrap .sec_one .left .count {
    display: flex;
    gap: 12px;
    width: 100%;
  }
  .wrap .sec_one .left .count .item h2 {
    font-size: 20px;
  }
  .wrap .sec_one .left .count .item span {
    font-size: 14px;
  }
  .wrap .sec_one .right {
    display: none;
  }
  .wrap .sec_two .top {
    display: none;
  }
  .wrap .sec_two .down {
    gap: 12px;
  }
  .wrap .sec_two .down .one {
    min-width: 85%;
  }
  .wrap .sec_two .down .one img {
    width: 70%;
  }
  .wrap .sec_two .down .one .plastine {
    width: 25%;
    padding: 7px 0;
  }
  .wrap .sec_two .down .one .plastine img {
    width: 70%;
  }
  .wrap .sec_two .down .two {
    min-width: 70%;
  }
  .wrap .sec_two .down .two span {
    font-size: 12px;
  }
  .wrap .sec_two .down .two span img {
    width: 10%;
  }
  .wrap .sec_three h1 {
    font-size: 20px;
  }
  .wrap .sec_three .parent {
    gap: 27px;
  }
  .wrap .sec_three .parent .item {
    width: 90%;
    padding: 3vh 0;
  }
  .wrap .sec_three .parent .item img {
    width: 50%;
  }
  .wrap .sec_six {
    margin-bottom: 1vh;
  }
  footer {
    padding: 2vh 0px;
  }
  footer .item {
    display: none;
    margin-bottom: 1vh;
  }
  footer #one {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */