@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ruda", sans-serif;
  font-family: "Open Sans", sans-serif;
  background: #060A16;
}

header {
  padding: 3vh 5%;
  display: flex;
  justify-content: space-between;
}
header .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .logo img {
  width: 45px;
}
header .logo p {
  font-family: Ruda;
  color: white;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
}
header nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
header nav a {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 100%;
  letter-spacing: 0%;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  transition: 0.2s;
}
header nav a:hover {
  opacity: 0.5;
}

.wrap {
  padding: 0% 5%;
}
.wrap .sec_one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30vh;
}
.wrap .sec_one .left {
  padding-top: 10vh;
  align-items: start;
}
.wrap .sec_one .left h1 {
  font-family: Ruda;
  color: white;
  font-weight: 600;
  font-size: 84px;
  line-height: 82px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.wrap .sec_one .left h1 span {
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  font-size: 84px;
  line-height: 82px;
  letter-spacing: 0%;
  background: linear-gradient(101.9deg, rgb(201, 34, 227) 7.67%, rgb(153, 30, 234) 52.66%, rgb(73, 23, 246) 93.7%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 3s infinite linear;
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrap .sec_one .left p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
  padding-left: 7px;
  margin-bottom: 3vh;
}
.wrap .sec_one .left .watch {
  padding-left: 7px;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 3vh;
}
.wrap .sec_one .left .watch .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(201, 34, 227);
  /* Начальный цвет */
  animation: borderFlow 3s infinite linear;
}
@keyframes borderFlow {
  0% {
    border-color: rgb(201, 34, 227);
  }
  33% {
    border-color: rgb(153, 30, 234);
  }
  66% {
    border-color: rgb(73, 23, 246);
  }
  100% {
    border-color: rgb(201, 34, 227);
  }
  /* Завершаем тем же цветом */
}
.wrap .sec_one .left .watch .image-wrapper img {
  width: 20px;
  height: 20px;
}
.wrap .sec_one .left .watch button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 18px 35px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrap .sec_one .left .watch p {
  padding-top: 30px;
  font-size: 18px;
}
.wrap .sec_one .left .count {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  color: white;
  background: rgba(255, 255, 255, 0.13);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 4% 6%;
}
.wrap .sec_one .left .count .item {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap .sec_one .left .count .item h2 {
  font-family: Ruda;
  background: none;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrap .sec_one .left .count .item span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  background: none;
  color: rgb(215, 215, 215);
}
.wrap .sec_one .right {
  position: relative;
  width: 50%;
}
.wrap .sec_one .right img {
  position: absolute;
}
.wrap .sec_one .right .one {
  top: 35%;
  right: 15%;
  z-index: 1;
}
.wrap .sec_one .right .two {
  top: 5%;
  left: 15%;
}
.wrap .sec_one .right .three {
  top: 10%;
  right: 35%;
}
.wrap .sec_one .right .four {
  top: 10%;
  right: -5%;
  z-index: 2;
}
.wrap .sec_one .right .five {
  bottom: 0;
  right: -11%;
}
.wrap .sec_two {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-bottom: 20vh;
}
.wrap .sec_two .top {
  display: flex;
  align-items: center;
  gap: 10%;
}
.wrap .sec_two .top h3 {
  font-family: Ruda;
  font-weight: 600;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.wrap .sec_two .top span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_two .top button {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  color: white;
  background: none;
  padding: 15px 30px;
  border: 2px solid rgb(201, 34, 227);
  /* Начальный цвет */
  animation: borderFlow 3s infinite linear;
}
.wrap .sec_two .down {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
}
.wrap .sec_two .down .one {
  position: relative;
  width: 45%;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
  border-radius: 5px;
}
.wrap .sec_two .down .one .plastine {
  position: absolute;
  right: 0;
  top: 30%;
  width: 25%;
  height: 17vh;
  background: rgb(35, 35, 35);
  padding-top: 2.5%;
  padding-left: 4%;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
}
.wrap .sec_two .down .one .plastine img {
  animation: plastine 4s infinite linear;
}
@keyframes plastine {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.wrap .sec_two .down .two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .sec_two .down .two .main {
  width: 130%;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.wrap .sec_two .down .two span {
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_three {
  text-align: center;
  margin-bottom: 20vh;
}
.wrap .sec_three h1 {
  font-family: Ruda;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10vh;
}
.wrap .sec_three .parent {
  display: flex;
  color: white;
  background: rgb(33, 21, 56);
  border-radius: 5px;
  justify-content: space-around;
}
.wrap .sec_three .parent .item {
  padding: 7vh 0;
  width: 25%;
  border-radius: 5px;
  transition: 0.8s;
}
.wrap .sec_three .parent .item img {
  margin-bottom: 2vh;
}
.wrap .sec_three .parent .item h2 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 2vh;
}
.wrap .sec_three .parent .item span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(215, 215, 215);
}
.wrap .sec_three .parent .item:hover {
  transform: translateY(-50px);
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}
.wrap .sec_four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
}
.wrap .sec_four h2 {
  font-family: Ruda;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10vh;
}
.wrap .sec_four .parent {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10vh;
}
.wrap .sec_four .parent .item {
  border: 1px solid;
  padding: 50px;
  padding-right: 70px;
  border-radius: 10px;
  animation: borderFlow 3s infinite linear;
}
.wrap .sec_four .parent .item .img {
  display: flex;
  gap: 5%;
  margin-bottom: 3vh;
}
.wrap .sec_four .parent .item .img .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap .sec_four .parent .item .item_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap .sec_four .parent .item .item_item div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.wrap .sec_four .parent .item .item_item div h3 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.wrap .sec_four .parent .item .item_item div span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_four .parent .item .item_item .arrow {
  width: 30px;
}
.wrap .sec_four button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 18px 35px;
  background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
  background-size: 200% 200%;
  animation: gradientMove 3s infinite linear;
}
.wrap .sec_five {
  margin-bottom: 20vh;
}
.wrap .sec_five h2 {
  text-align: center;
  font-family: Ruda;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10vh;
}
.wrap .sec_five .parent {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  position: relative;
}
.wrap .sec_five .parent .left_arr {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: -10%;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(217, 217, 217, 0.08);
  transition: 0.2s;
}
.wrap .sec_five .parent .left_arr img {
  transform: rotate(180deg);
  width: 25px;
}
.wrap .sec_five .parent .right_arr {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  right: -10%;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(217, 217, 217, 0.08);
  transition: 0.2s;
}
.wrap .sec_five .parent .right_arr img {
  width: 25px;
}
.wrap .sec_five .parent .item {
  width: 30%;
  padding: 2%;
  display: flex;
  color: white;
  align-items: center;
  gap: 10%;
  border-radius: 10px;
  margin-bottom: 5vh;
  background: rgba(217, 217, 217, 0.08);
  transition: 0.3s;
}
.wrap .sec_five .parent .item .left {
  width: 100px;
}
.wrap .sec_five .parent .item .right h3 {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  margin-bottom: 1vh;
}
.wrap .sec_five .parent .item .right span {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(215, 215, 215);
}
.wrap .sec_five .parent .item:hover {
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}
.wrap .sec_five .parent .left_arr:hover {
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}
.wrap .sec_five .parent .left_arr:active {
  scale: 0.9;
}
.wrap .sec_five .parent .right_arr:active {
  scale: 0.9;
}
.wrap .sec_five .parent .right_arr:hover {
  background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
}/*# sourceMappingURL=style.css.map */