* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Ruda", sans-serif;
    font-family: "Open Sans", sans-serif;
    background: #060A16;

}


header {
    padding: 3vh 5%;
    display: flex;
    justify-content: space-between;

    .logo {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            width: 45px;
        }

        p {
            font-family: Ruda;
            color: white;
            font-weight: 700;
            font-size: 26px;
            line-height: 100%;
            letter-spacing: 0%;

        }
    }

    nav {
        display: flex;
        gap: 40px;
        align-items: center;

        a {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 20px;
            color: white;
            line-height: 100%;
            letter-spacing: 0%;
            text-decoration: 0;
            transition: .2s;
        }

        a:hover {
            opacity: .5;
        }
    }
}

.wrap {
    padding: 0% 5%;

    .sec_one {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30vh;

        .left {
            padding-top: 10vh;
            align-items: start;

            h1 {
                font-family: Ruda;
                color: white;
                font-weight: 600;
                font-size: 84px;
                line-height: 82px;
                letter-spacing: 0%;
                margin-bottom: 20px;


                span {
                    font-family: "Ruda", sans-serif;
                    font-weight: 600;
                    font-size: 84px;
                    line-height: 82px;
                    letter-spacing: 0%;
                    background: linear-gradient(101.9deg, rgba(201, 34, 227, 1) 7.67%, rgba(153, 30, 234, 1) 52.66%, rgba(73, 23, 246, 1) 93.7%);
                    background-size: 200% 200%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: gradientFlow 3s infinite linear;
                }

                @keyframes gradientFlow {
                    0% {
                        background-position: 0% 50%;
                    }

                    50% {
                        background-position: 100% 50%;
                    }

                    100% {
                        background-position: 0% 50%;
                    }
                }


            }

            p {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0%;
                color: rgba(215, 215, 215, 1);
                padding-left: 7px;
                margin-bottom: 3vh;



            }

            .watch {
                padding-left: 7px;
                display: flex;
                gap: 30px;
                align-items: center;
                margin-bottom: 3vh;

                .image-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 2px solid rgba(201, 34, 227, 1);
                    /* Начальный цвет */
                    animation: borderFlow 3s infinite linear;
                }

                @keyframes borderFlow {
                    0% {
                        border-color: rgba(201, 34, 227, 1);
                    }

                    33% {
                        border-color: rgba(153, 30, 234, 1);
                    }

                    66% {
                        border-color: rgba(73, 23, 246, 1);
                    }

                    100% {
                        border-color: rgba(201, 34, 227, 1);
                    }

                    /* Завершаем тем же цветом */
                }

                .image-wrapper img {
                    width: 20px;
                    height: 20px;
                }








                button {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    padding: 18px 35px;
                    background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
                    background-size: 200% 200%;
                    animation: gradientMove 3s infinite linear;
                }

                @keyframes gradientMove {
                    0% {
                        background-position: 0% 50%;
                    }

                    50% {
                        background-position: 100% 50%;
                    }

                    100% {
                        background-position: 0% 50%;
                    }
                }


                p {
                    padding-top: 30px;
                    font-size: 18px;
                }
            }

            .count {
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin-left: 7px;
                color: white;
                background: rgba(255, 255, 255, 0.13);
                backdrop-filter: blur(4px);
                padding: 4% 6%;

                .item {
                    background: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        font-family: Ruda;
                        background: none;
                        font-weight: 700;
                        font-size: 35px;
                        line-height: 40px;
                        letter-spacing: 0%;
                        align-items: center;
                        display: flex;
                        justify-content: center;

                    }

                    span {
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        background: none;
                        color: rgba(215, 215, 215, 1);
                    }
                }
            }

        }

        .right {
            position: relative;
            width: 50%;

            img {
                position: absolute;
            }

            .one {
                top: 35%;
                right: 15%;
                z-index: 1;
            }

            .two {
                top: 5%;
                left: 15%;
            }

            .three {
                top: 10%;
                right: 35%;
            }

            .four {
                top: 10%;
                right: -5%;
                z-index: 2;
            }


            .five {
                bottom: 0;
                right: -11%;
            }
        }
    }

    .sec_two {
        padding-left: 7px;
        display: flex;
        flex-direction: column;
        gap: 10vh;
        margin-bottom: 20vh;


        .top {
            display: flex;
            align-items: center;
            gap: 10%;

            h3 {
                font-family: Ruda;
                font-weight: 600;
                font-size: 35px;
                line-height: 100%;
                letter-spacing: 0%;
                color: white;
            }

            span {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0%;
                color: rgba(215, 215, 215, 1);
            }

            button {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 0%;
                color: white;
                background: none;
                padding: 15px 30px;
                border: 2px solid rgba(201, 34, 227, 1);
                /* Начальный цвет */
                animation: borderFlow 3s infinite linear;

            }
        }

        .down {
            display: flex;
            align-items: center;
            width: 95%;
            justify-content: space-between;

            .one {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 45%;
                background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
                background-size: 200% 200%;
                animation: gradientMove 3s infinite linear;
                border-radius: 5px;

                .plastine {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 23%;
                    height: 17vh;
                    background: rgba(35, 35, 35, 1);
                    border-top-left-radius: 90px;
                    border-bottom-left-radius: 90px;


                    img {
                        animation: plastine 4s infinite linear;
                    }
                }

                @keyframes plastine {
                    0% {
                        rotate: 0deg;
                    }

                    100% {
                        rotate: 360deg;
                    }
                }


            }

            .two {
                display: flex;
                flex-direction: column;
                align-items: center;

                .main {
                    width: 130%;
                    border-radius: 5px;
                    margin-bottom: 2vh;
                }

                span {
                    display: flex;
                    align-items: center;
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: rgba(215, 215, 215, 1);
                }
            }
        }
    }

    .sec_three {
        text-align: center;
        margin-bottom: 20vh;

        h1 {
            font-family: Ruda;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;
            margin-bottom: 10vh;

        }

        .parent {

            display: flex;
            color: white;
            background: rgba(33, 21, 56, 1);
            border-radius: 5px;
            justify-content: space-around;


            .item {
                padding: 7vh 0;
                width: 25%;
                border-radius: 5px;
                transition: .8s;


                img {
                    margin-bottom: 2vh;
                }

                h2 {
                    font-family: Open Sans;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    margin-bottom: 2vh;
                }

                span {
                    font-family: Open Sans;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-align: center;
                    color: rgba(215, 215, 215, 1);
                }
            }

            .item:hover {

                transform: translateY(-50px);
                background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);


            }


        }
    }

    .sec_four {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20vh;


        h2 {
            font-family: Ruda;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;
            margin-bottom: 10vh;
        }

        .parent {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 10vh;



            .item {
                border: 1px solid;
                padding: 50px;
                padding-right: 70px;
                border-radius: 10px;
                animation: borderFlow 3s infinite linear;

                .img {
                    display: flex;
                    gap: 5%;
                    margin-bottom: 3vh;


                    .left {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }

                .item_item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 2vh;

                        h3 {
                            font-family: Open Sans;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: white;
                        }

                        span {
                            font-family: Open Sans;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: rgba(215, 215, 215, 1);
                        }
                    }

                    .arrow {
                        width: 30px;
                    }
                }
            }
        }

        button {

            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 18px 35px;
            background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
            background-size: 200% 200%;
            animation: gradientMove 3s infinite linear;
        }

    }

    .sec_five {

        margin-bottom: 20vh;


        h2 {
            text-align: center;
            font-family: Ruda;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;
            margin-bottom: 10vh;
        }

        .parent {
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-content: center;
            gap: 5%;
            flex-wrap: wrap;
            position: relative;

            .left_arr {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 35%;
                left: -10%;
                padding: 20px;
                width: fit-content;
                background: rgba(217, 217, 217, 0.08);
                transition: .2s;


                img {
                    transform: rotate(180deg);
                    width: 25px;
                }
            }

            .right_arr {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 35%;
                right: -10%;
                padding: 20px;
                width: fit-content;
                background: rgba(217, 217, 217, 0.08);
                transition: .2s;

                img {
                    width: 25px;
                }
            }


            .item {
                width: 30%;
                padding: 2%;
                display: flex;
                color: white;
                align-items: center;
                gap: 10%;
                border-radius: 10px;
                margin-bottom: 5vh;
                background: rgba(217, 217, 217, 0.08);
                transition: .3s;

                .left {
                    width: 100px;
                }

                .right {
                    h3 {
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: rgba(255, 255, 255, 1);
                        margin-bottom: 1vh;
                    }

                    span {
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: rgba(215, 215, 215, 1);
                    }
                }
            }


            .item:hover {
                background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
            }

            .left_arr:hover {
                background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
            }

            .left_arr:active {
                scale: .9;
            }

            .right_arr:active {
                scale: .9;
            }

            .right_arr:hover {
                background: linear-gradient(134.83deg, rgba(197, 34, 228, 0.3) 0%, rgba(90, 25, 244, 0.3) 96.35%);
            }
        }
    }


    .sec_six {

        margin-bottom: 20vh;

        h2 {
            text-align: center;
            font-family: Ruda;
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: white;
            margin-bottom: 10vh;
        }

        .parent {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 10vh;


            .item {
                border: 1px solid;
                padding: 50px;
                border-radius: 10px;
                animation: borderFlow 3s infinite linear;
                width: fit-content;

                .img {

                    margin-bottom: 2vh;


                }

                .admin {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 3vh;

                    .left {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .img_box {
                            height: 30px;
                            width: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-left: 2px;
                            border-radius: 50%;
                            border: 1px solid #000;
                            animation: borderFlow 3s infinite linear;

                            img {
                                width: 20px;
                            }
                        }

                        span {
                            font-family: Open Sans;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            background: linear-gradient(101.9deg, rgba(201, 34, 227, 1) 7.67%, rgba(153, 30, 234, 1) 52.66%, rgba(73, 23, 246, 1) 93.7%);
                            background-size: 200% 200%;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation: gradientFlow 3s infinite linear;

                        }

                    }

                    .right {
                        span {
                            font-family: Open Sans;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            text-align: right;
                            color: rgba(215, 215, 215, 1);
                        }

                    }


                }

                .info {
                    margin-bottom: 5vh;

                    h3 {
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: rgba(255, 255, 255, 1);
                        margin-bottom: 2vh;
                    }

                    span {
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0%;
                        color: rgba(215, 215, 215, 1);


                    }
                }

                .nav {
                    display: flex;
                    justify-content: space-between;

                    button {
                        font-family: "Open Sans", sans-serif;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: white;
                        border: none;
                        border-radius: 10px;
                        padding: 13px 20px;
                        background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
                        background-size: 200% 200%;
                        animation: gradientMove 3s infinite linear;
                    }

                    .links {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;

                        .img_box {
                            height: 45px;
                            width: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            border: 1px solid #000;
                            animation: borderFlow 3s infinite linear;

                            img {
                                width: 26px;
                            }
                        }

                        .img_box_sec {
                            height: 45px;
                            width: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-right: 2px;
                            border-radius: 50%;
                            border: 1px solid #000;
                            animation: borderFlow 3s infinite linear;

                            img {
                                width: 26px;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {

    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2vh;

        a {
            text-decoration: 0;
            font-family: DM Sans;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(215, 215, 215, 1);
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 3vh;

        h2 {
            font-family: DM Sans;
            font-weight: 600;
            font-size: 26px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(255, 255, 255, 1);
        }

        span {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: rgba(215, 215, 215, 1);
        }

        .links {
            display: flex;
            gap: 10%;

            .img_box {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                background: linear-gradient(101.9deg, rgba(201, 34, 227, 0.4) 7.67%, rgba(153, 30, 234, 0.4) 52.66%, rgba(73, 23, 246, 0.4) 93.7%);
                background-size: 200% 200%;
                animation: gradientMove 3s infinite linear;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .email_inpt {
            width: 100%;
            position: relative;

            input {
                width: 80%;
                padding: 15px 20px;
                font-family: DM Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                background: none;
                outline: none;
                border: 0.6px solid rgba(215, 215, 215, 1);
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                overflow: hidden;
                color: rgba(215, 215, 215, 1);
                border-right: none
            }

            button {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 0;
                bottom: 0;
                width: 60px;
                background: none;
                border: .6px solid black;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                animation: borderFlow 3s infinite linear;

                img {
                    width: 25px;
                }
            }
        }


    }

}

@media (max-width: 1024px) {
    header {
        nav {
            a {
                font-size: 16px;
            }
        }
    }

    .wrap {

        .sec_four {
            display: none;
        }

        .sec_six {
            display: none;
        }

        .sec_one {
            .left {
                h1 {
                    font-size: 50px;
                    line-height: 55px;

                    span {
                        line-height: 55px;
                        font-size: 50px;
                    }
                }

                p {
                    font-size: 12px;
                }

                .watch {
                    button {
                        font-size: 14px;
                        padding: 15px 25px;
                    }

                    .image-wrapper {
                        width: 45px;
                        height: 45px;

                        img{
                            width: 15px;
                            height: 15px;
                        }
                    }

                    p {
                        font-size: 14px;
                    }

                }

                .count {
                    .item {
                        h2 {
                            font-size: 23px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }

            }

            .right {

                .one {
                    width: 80%;
                    top: 25%;
                    right: 10%;
                }

                .two {
                    width: 20%;
                    top: 5%;
                    left: 0%;
                }

                .three {
                    width: 12%;
                    right: 50%;
                }

                .four {
                    width: 30%;
                    top: 10%;
                }

                .five{
                    width: 15%;
                    bottom: 10%;
                }
            }
        }

    }

}

@media (max-width: 786px) {}

@media (max-width: 480px) {}